<h3>Config Component</h3>

<p *ngIf="showConfig_1_data">showConfig_1_data: {{ showConfig_1_data }}</p>
<p *ngIf="showConfig_1_error">showConfig_1_error: {{ showConfig_1_error }}</p>

<p *ngIf="showConfig_2_data">showConfig_2_data: {{ showConfig_2_data }}</p>
<p *ngIf="showConfig_2_error">showConfig_2_error: {{ showConfig_2_error }}</p>

<p *ngIf="showConfig_3_data">showConfig_3_data: {{ showConfig_3_data }}</p>
<p *ngIf="showConfig_3_error">showConfig_3_error: {{ showConfig_3_error }}</p>

<p *ngIf="showConfig_4_data">showConfig_4_data: {{ showConfig_4_data }}</p>
<p *ngIf="showConfig_4_error">showConfig_4_error: {{ showConfig_4_error }}</p>

<p *ngIf="showConfigResponse_headers">showConfigResponse_headers: {{ showConfigResponse_headers }}</p>
<p *ngIf="showConfigResponse_response">showConfigResponse_response: {{ showConfigResponse_response }}</p>